Repository zhangwei920211/rust_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt
  entry: cargo
  args:
  - fmt
  - --all
  - --
  - --check
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  description: Check cargo dependencies
  entry: cargo
  args:
  - deny
  - check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors
  entry: cargo
  args:
  - check
  - --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run unit tests
  entry: cargo
  args:
  - test
  - --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-audit:
  name: cargo audit
  description: Audit Cargo.lock for security vulnerabilities
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

优化配置
  cliff.toml
Due: none

修复多余配置
  _typos_typos.toml
Due: none

debug 2025.09.01
  README.md
  rustfmt.toml
Due: none

加强版
  examples/basic.rs
Due: cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

修改_typos
  cargo-generate.toml
Due: none

修改_gen
  cargo-generate.toml
Due: none

无代码变更
  cargo-generate.toml
Due: none

修改_gen2
  cargo-generate.toml
  hooks/post.ps1
  hooks/post.sh
  hooks/pre.ps1
  hooks/pre.sh
Due: none

update
  Cargo.lock
  Cargo.toml
Due: cargo-audit

update
  Cargo.toml
Due: cargo-audit

Update cargo-generate.toml
  cargo-generate.toml
Due: none

Delete hooks directory
  hooks/post.ps1
  hooks/post.sh
  hooks/pre.ps1
  hooks/pre.sh
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-deny: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: ^Cargo\.(toml|lock)$
